<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="videoWidth" value="560"/>
    <add key="videoHeight" value="420"/>
    <add key="videoBitrate" value="700"/><!-- video bitrate in Kbps-->
    <add key="audioBitrate" value="64"/><!-- audio bitrate in Kbps-->
    <add key="thumbWidth" value="120"/>
    <add key="thumbHeight" value="80"/>
    <add key="posterWidth" value="560"/>
    <add key="posterHeight" value="420"/>
  </appSettings>
</configuration>